.mainMenu {
  border: 1px solid gray;
  background-color: rgb(20, 20, 20);
  width: 100%;
  padding: 2em;
}

.gameMode {
  font-size: 2em;
  margin: 0;
  width: 60%;
}

.menuButtonContainer {
  margin: 1em 0;
  width: 100%;
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}

.menuButtonDescription {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.menuButtonDescription p {
}
