.sidePanel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.8em;
  border: 1px solid gray;
  background-color: rgb(20, 20, 20);
  flex-direction: column;
}

.sidePanelContainer {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.spRight {
  margin-left: 0.8em;
}

.spLeft {
  margin-right: 0.8em;
}

.sideBox {
  position: relative;
  width: calc(4 * var(--block-width));
  height: calc(4 * var(--block-width));
  border: 3px solid white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: content-box;
  flex-shrink: 0;
  transition: background-color 0.2s;
  transition: border 0.2s;
}

.sideBox h3 {
  margin: 0;
}

.score {
  margin-top: 1em;
  height: calc(2 * var(--block-width));
}

.speed {
  height: calc(2 * var(--block-width));
  margin-top: 1em;
}

.littleBoxTitle {
  margin-top: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.2em;
}

.instructionBox {
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px dashed rgb(133, 133, 133);
  margin-top: 1em;
  width: 100%;
}

.instructionBox h3 {
  font-size: 1em;
  padding: 0.4em 0;
  margin: 0;
  margin-bottom: 0.5em;
  color: White;
  width: 100%;
  border-bottom: 1px dashed rgb(133, 133, 133);
  text-align: center;
}

.instructionBox p {
  font-size: 0.8em;
  padding: 0.3em;
  margin-bottom: 0.2em;
}

.big {
  font-size: 2em;
  margin: 0;
}
